html, body {
    box-sizing: border-box;
    overflow: hidden;
}

.portfolio-main {
    height: 100vh;
    background-color: #ffffff;
}

.hero-title-wrapper {
    position: absolute;
    bottom: 30%;
    z-index: 1000;
    mix-blend-mode: difference;
}

.hero-title {
    font-family: "Bebas Neue", sans-serif;
    color: #ececec;
    font-size: 148px;
    letter-spacing: -0.02em;
    line-height: 112px;
    opacity: 0;
    animation: slide-in-from-right-hero 2000ms cubic-bezier(.2,.9,.2,1) 0ms both;
}

.hero-subtitle {
    width: 400px;
    margin: -5px 0 0 4px;
    font-family: "Maven Pro", sans-serif;
    font-weight: 700;
    color: #ececec;
    font-size: 24px;
    animation: slide-in-from-right-hero 1300ms cubic-bezier(.4,.9,.2,1) 1300ms both;
}

@keyframes slide-in-from-right-hero {
    from { transform: translateX(105%); opacity: 0; }
    to   { transform: translateX(0%); opacity: 1; }
}

@keyframes slide-in-from-left-hero {
    from { transform: translateX(-100%); opacity: 0; }
    to   { transform: translateX(-50%); opacity: 1; }
}

.hero-image {
    position: absolute;
    height: 92vh;
    bottom: 0;
    animation: slide-in-from-left-hero 2000ms cubic-bezier(.2,.9,.2,1) 0ms both;
}

.main-navigation {
    position: fixed;
    top: 10px;
    right: 10px;
    left: 10px;
    z-index: 10;
}

.nav-toggle-btn {
    display: flex;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-menu {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 20px 20px;
    background: white;
    max-height: 100vh;
    overflow-y: auto;
    display: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 10;
}

.nav-link,
.nav-link.active {
    height: 50px;
    padding: 0 20px;
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    transition: color 0.2s, background-color 0.2s;
}
.nav-link:hover { color: gray; }
.nav-link.active { background: black; color: white; }

@media (min-width: 900px) {
    .nav-toggle-btn { display: none; }
    .main-navigation {
        top: 10px;
        right: 80px;
        left: auto;
    }
    .nav-menu {
        position: static;
        display: flex;
        background: transparent;
        box-shadow: none;
        flex-direction: row;
        padding: 0;
        overflow: visible;
        max-height: none;
        gap: 10px;
    }

    .hero-title-wrapper {
        left: 50%;
        transform: translateX(-50%);
    }

    .hero-image {
        left: 50%;
        transform: translateX(-50%);
    }

    .hero-center {
        left: 50%;
        transform: translateX(-50%);
    }
    .social-panel {
        width: 500px;
    }
    .social-link {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 899px) {
    .nav-menu .nav-link {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 26px;
        padding: 10px 0;
        padding-left: 10px;
        text-align: left;
        border-radius: 0;
    }

    .nav-menu .nav-link.active {
        background: black;
        color: white;
    }

    .hero-title-wrapper {
        left: 50%;
        transform: translateX(-36%);
    }

    .hero-image {
        left: 50%;
        transform: translateX(-50%);
    }

    .hero-center {
        left: 50%;
        transform: translateX(-50%);
    }

    .social-icon {
        width: clamp(28px, 10vw, 40px);
        height: clamp(28px, 10vw, 40px);
    }

    .hero-title {
        font-size: 15vh;
        line-height: 0.75;
    }

    .hero-subtitle {
        font-size: 2vh
    }

    .social-panel {
    width: 100vw;
    }

    .social-link {
        width: 75px;
        height: 75px;
    }
}

.social-panel {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    height: 135px;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    border: 1px solid rgba(202, 202, 202, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    z-index: 1700;
    animation: slide-in-from-down-panel 2000ms cubic-bezier(.2,.9,.2,1) 3100ms both;
}

@keyframes slide-in-from-down-panel {
    from { transform: translateY(100%) translateX(-50%); opacity: 0; }
    to   { transform: translateY(0%) translateX(-50%); opacity: 1; }
}

.social-link {
    background-color: rgba(244, 244, 244, 0.8);
    border-radius: 10px;
    border: 1px solid rgba(193, 193, 193, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

.social-link:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.social-link:hover {
    transform: scale(110%);
}

